Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

MMO_Client/Binaries
MMO_Client/DerivedDataCache
MMO_Client/Intermediate
MMO_Client/Saved
MMO_Client/.vscode
MMO_Client/.git
MMO_Client/.vs
MMO_Client/*.VC.db
MMO_Client/*.opensdf
MMO_Client/*.opendb
MMO_Client/*.sdf
MMO_Client/*.sln
MMO_Client/*.suo
MMO_Client/*.xcodeproj
MMO_Client/*.xcworkspace
MMO_Client/*.idea
MMO_Client/.plastic
MMO_Client/ignore.conf
MMO_Client/Builds
MMO_Client/Build
MMO_Client/Tools
MMO_Client/1.exe
